* {
    margin:80;
    padding:0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display:flex;
    align-items: left;
    justify-content: left;
    position: relative;
    top: 0;
    cursor: pointer;
}
.leftNav {
    width: 80%;
    display: flex;
}
.nav-list {
    width: 20%;
    display: flex; 
}

.nav-list li {
    list-style: none;
    padding: 2px 12px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(58, 57, 57);
}

.nav-list li a:hover {
    text-decoration: overline;
    font-weight: bold;
        color: rgb(58, 57, 57);
}

.background {
    background: rgb(223, 222, 222);
    background-blend-mode: darken;
    background-size: cover;
}

.section {
    height: 100vh;
}




.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 80%;
    margin: auto;
    height: 90%;
}


.firstHalf {
    width: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center
}


.text-big {
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}
.text-small {
    color:rgb(189, 19, 223);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    text-align: center;

}


.box-life {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 80%;
    margin: auto;
    height: 90%;
}


.divTable{
	display: table;
	width: 70%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
    border-style : hidden;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}